html, body, div, header, footer, section, h1, h2, span, ul, li, p {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font-family: 'Microsoft Yahei';
}

ul {
    list-style-type: none;
}

a {
	text-decoration: none;
}

html,body,#job-header, #aboutus, #welfare {
}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	font-size: 0;
	height: 0;
	clear: both;
}

.clearfix {
	display: inline-block;
}

/*start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* close commented backslash hack*/

#job-header .container {
	background-image: url('images/head-bg.jpg');
    background-repeat: no-repeat; 
}

#job-header .container {
	width: 1024px;
    margin: 0 auto;
}

#job-header .intro {
	padding-top: 365px;
	padding-bottom: 50px;
	background-image: url('images/hd.png');
	background-repeat: no-repeat;
	background-position: 34px 268px;
}

#job-header .intro p {
	color: #6e7172;
	font-size: 13px;
	margin-left: 34px;
	width: 465px;
}

#job-header .intro p a {
	color: #6e7172;
}

.wrapper {
    overflow: hidden;
}

.recuit-detail {
	padding-top: 24px;
	padding-bottom: 40px;
	background-color: #eee;	
	width: 1024px;
	margin: 0 auto;
}

.recuit-detail .content .to-left {
	float: left;
}

.recuit-detail .container {
	margin: 0 auto;
	width: 954px;
}

.recuit-detail .hd li {
	float: left;
}

.recuit-detail .hd a {
	color: #fefefe;
	display: inline-block;
	line-height: 34px;
	height: 34px;
	width: 164px;
	background-color: #89b8dc;
	text-align: center;
	margin-right: 2px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.recuit-detail .hd .active {
	background-color: #2483cb;
}

.recuit-detail .content {
	position: relative;
	background-color: white;
}

.recuit-detail .contnt {
	display: none;
	background-color: white;
}

.recuit-detail .content .show {
	display: block;
}

#post {
	background-image: url('images/join-us.png');
	background-repeat: no-repeat;
	background-position: 577px 940px;
}

#post .joblist {
	float: left;
	height: 100%;
	padding-top: 36px;
	padding-bottom: 9999px;
	margin-bottom: -9999px; 
	border-right: 1px solid #d2d2d2;
	margin-left: 20px;
}

.joblist .cat-cont {
	font-size: 13px
}

.joblist .cat-cont a {
	text-indent: 40px;
	display: inline-block;
	width: 280px;
	line-height: 58px;
	border-bottom: 1px solid #d2d2d2;
	color: #020202;
	position: relative;
}

.joblist .cat-cont .job-arrow {
	display: inline-block;
	position: absolute;
	top: 40%;
	right: 16px;
	width: 16px;
	height: 16px;
	background-image: url('images/arrow.png');
	background-position: 0 0; 
}

.joblist .cat-cont .active .job-arrow, .joblist .cat-cont a:hover .job-arrow {
	background-position: -18px 0; 
}


.joblist .cat-cont li:first-child a {
	border-top: 1px solid #d2d2d2;
}

.joblist .cat-cont li:last-child {
	padding-bottom: 60px;
}

.joblist .cat-cont .active a,  .joblist .cat-cont a:hover {
	background-color: #e2edfb;
	color: #274c7a;
}


#post .job-desc {
	float: right;
	width: 60%;
	position: relative;
}

.category {
	display: inline-block;
	color: #000;
	font-family: 'Microsoft Yahei';
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;   
}

#post .job-desc div {
	margin-top: 80px;
	color: #3e3e3e;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#post .job-desc .active {
	display: block;
}

#post .job-desc h3 {
	color: #6077ba;
}

#post .job-desc h4 {
	margin-bottom: 0;
}

#post .job-desc p {
	margin-bottom: 40px;
}

#post .job-desc p, #post .job-desc ol {
	font-size: 13px;
}

#post .job-desc ol li {
	line-height: 30px;
}

#team {
	background-color: #fefefe;
}

#team .team-member {
	padding-top: 54px;
	color: #0075a9;
}

#team .welfare {
	margin-top: 158px;
	color: #626262;
}

#team .team-member h1 {
	text-align: center;
	font-size: 40px;
}

#team .team-member h1 span {
	display: inline-block;
	margin: 0 10px;
}

#team .team-member .slogan {
	width: 262px;
	text-align: center;
	margin: 15px auto;
	line-height: 150%;
}

#team .compose {
	border-top: 1px dotted #0075a9;
	margin-top: 56px;
}

#team .compose li {
	float: left;
	margin-right: 57px;
	position: relative;
}

#team .compose li:first-child {
	margin-left: 57px;
}

#team .compose .hd {
	font-family: "Arial Black", Arial;
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
	position: absolute;
	top: -35px;
	background-color: white;
	padding: 0 10px;
}

#team .compose .team-compose .hd {
	left: 53px;
}

#team .compose .area .hd {
	left: 3px;
}

#team .compose .spirit .hd {
	left: 40px;
}

#team .compose .detail {
	width: 242px;
	color: #81807f;
	font-size: 12px;
	margin-top: 40px;
	text-align: justify;
}

#team .icon-list {
	width: 600px;
	margin: 18px auto;
}

#team .icon-list li {
	float: left;
	margin-right: 54px;
}

#team .icon-list li:last-child {
	margin-right: 0;
}

#team .wrapper {
	margin: 0 auto;
	width: 758px;
}

#team .wrapper li {
	float: left;
}

#team .welfare .hd {
	font-size: 40px;
	font-weight: bolder;
	width: 88px;
	text-align: center;
	margin-right: 26px;
}

#team .welfare {
	padding-bottom: 60px;
	background-image: url('images/welfare-bg.png');
	background-repeat: no-repeat;
	background-position: 213px 230px;
}

#team .welfare .equip {
	font-size: 13px;
	width: 314px;
	margin-right: 88px;
}

#corp-develop {
	overflow: hidden;
}

#corp-develop img {
	display: inline-block;
	margin: 0 auto;
	padding-top: 54px;
	padding-left: 154px;
	background-color: #fefefe;
	padding-right: 170px;
}

.footer-links {
	color: #999;
	text-align: center;
	font-size: 14px;
}

.footer-links .wrapper {
	padding: 40px 0;
}

.footer-links .wrapper li {
	display: inline;
	padding: 0 2px;
}

.footer-links .wrapper a {
	color: #0075a9;
}