html, body, div, header, footer, section, h1, h2, span, ul, li, p {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font-family: 'Microsoft Yahei';
}

ul {
    list-style-type: none;
}

a {
	text-decoration: none;
	color: #428BCA;
}

html,body,#job-header, #aboutus, #welfare {
	height: 100%;
	position: relative;
	min-height: 620px;
}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	font-size: 0;
	height: 0;
	clear: both;
}

.clearfix {
	display: inline-block;
}

/*start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* close commented backslash hack*/

.carousel {
	position: relative;
	overflow: hidden;
}

.container {
	width: 1024px;
    margin: 0 auto;
    height: 100%;
}

.wrapper {
	width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-content, .carousel-content li, .carousel .pages  {
	height: 100%;
}

.carousel-content li {
	float: left;
	width: 1024px;
}

.carousel .pages {
	position: relative;
}

.carousel-content .page-1 {
	/*display: none;*/
}

.carousel-content .page-2 {
	background-color:  #5ab9eb;
}

.carousel-content .page-1 .pages {
	background-image: url('images/carouse1.jpg');
	background-position: top left;
	background-size: cover;
}

.carousel-content .page-1 .logo {
	display: inline-block;
	height: 46px;
	width: 104px;
	text-indent: -20000px;
	position: absolute;
	top: 40px;
	left: 108px;
	background-image: url('images/logo.png');
	background-repeat: no-repeat;
}

.carousel-content .page-1 .intro {
	position: absolute;
	width: 480px;
	font-family: 'Microsoft Yahei';
	color: #0978b8;
	bottom: 18px;
	left: 109px;
}

.carousel-content .page-1 .intro a {
	color: #0978b8;
}

.carousel-content .page-2 .pages {
	background-image: url('images/job.web.1_own_01.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}

.carousel .handle {
	position: absolute;
	display: inline-block;
	height: 99px;
	width: 42px;
	top: 42%;
	z-index: 100;
}

.carousel .prev {
	background-image: url('images/prev.png');
	left: 20px;
}

.carousel .next {
	background-image: url('images/next.png');
	right: 20px;
}

#aboutus {
	height: 100%;
}

#aboutus .clearfix {
	height: 100%;
}

#aboutus .container {
	height: 100%;
	background-color: #e4f5fc;
}

#aboutus .headline {
	float: left;
	height: 100%;
	width: 79px;
	margin-left: 15px;
	text-indent: -2000px;
	background-image: url('images/aboutus_small.png');
	background-position: 0 50%;
	background-repeat: no-repeat;
}

#aboutus .about {
	float: right;
	width: 776px;
	height: 100%;
	background-image: url('images/aboutusxx.png');
	background-size: 80%;
	background-position: 133px 31px;
	background-repeat: no-repeat; 
}

#aboutus .about .intro {
	margin-top: 296px;
	margin-left: 160px;
	width: 294px;
	color: #81807f;
	font-family: 'Microsoft Yahei';
	font-size: 10px;
}

#aboutus .about .intro p {
	font-size: 40px;
	font-family: 'Arial Black';
	color: #0075a9;
	line-height: 50px;
}

#aboutus .about .intro .unit {
	font-size: 20px;
	line-height: 20px;
	position: relative;
}

.scrolldown {
	position: absolute;
	bottom: 10px;
	left: 50%;
	display: inline-block;
	height: 40px;
	width: 40px;
	background-image: url('images/scrolldown.png');
}

#welfare .container {
	background-image: url('images/welfare_bg.jpg');
	background-position: bottom center; 
}

#welfare .content {
	height: 380px;
	background-image: url('images/welfare_cont.png');
	background-position: 678px 40px;
	background-repeat: no-repeat; 
	background-size: 25%;
	color: #74ccfe;
	font-size: 12px;
	font-weight: lighter;
}

#welfare .content .intro {
	padding-top: 113px;
	padding-left: 164px;
	width: 500px;
}

#welfare .content p {
	margin-bottom: 54px;
}

#post {
}

#post .joblist {
	float: left;
	height: 100%;
	padding-top: 36px;
	padding-bottom: 9999px;
	margin-bottom: -9999px; 
	border-right: 1px solid #d2d2d2;
	margin-left: 20px;
}

.joblist .cat-cont {
	font-size: 13px
}

.joblist .cat-cont a {
	text-indent: 40px;
	display: inline-block;
	width: 280px;
	line-height: 58px;
	border-bottom: 1px solid #d2d2d2;
	color: #020202;
	position: relative;
}

.joblist .cat-cont .job-arrow {
	display: inline-block;
	position: absolute;
	top: 40%;
	right: 16px;
	width: 16px;
	height: 16px;
	background-image: url('images/arrow.png');
	background-position: 0 0; 
}

.joblist .cat-cont .active .job-arrow, .joblist .cat-cont a:hover .job-arrow {
	background-position: -18px 0; 
}


.joblist .cat-cont li:first-child a {
	border-top: 1px solid #d2d2d2;
}

.joblist .cat-cont li:last-child {
	padding-bottom: 60px;
}

.joblist .cat-cont .active a,  .joblist .cat-cont a:hover {
	background-color: #e2edfb;
	color: #274c7a;
}


#post .job-desc {
	float: right;
	width: 60%;
	position: relative;
}

.category {
	display: inline-block;
	color: #000;
	font-family: 'Microsoft Yahei';
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;   
}

#post .job-desc div {
	margin-top: 80px;
	color: #3e3e3e;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#post .job-desc .active {
	display: block;
}

#post .job-desc h3 {
	color: #6077ba;
}

#post .job-desc h4 {
	margin-bottom: 0;
}

#post .job-desc p {
	margin-bottom: 40px;
}

#post .job-desc p, #post .job-desc ol {
	font-size: 13px;
}

#post .job-desc ol li {
	line-height: 30px;
}

footer {
	color: #999;
	text-align: center;
	font-size: 14px;
}

.footer-links {
	border-top: 1px solid #D2D2D2;
	padding: 40px 0;
}

.footer-links li {
	display: inline;
	padding: 0 2px;
}